<DOCTYPE html>
<html>
<header>
</header>
<body>
  {{if eq .TLSVersion "TLS 1.2"}}
  <p>Great! Your client is using TLS 1.2, the most modern version of TLS.</p>
  {{else if eq .TLSVersion "TLS 1.1"}}
  <p>Enh, your client is using TLS 1.1. It would be better to be TLS 1.2, but
  at least it isn't susceptible to the BEAST attack. But, it also doesn't
  have the AES-GCM cipher suite available.</p>
  {{else}}
  <p>Oh dear, your client is {{.TLSVersion}}, which is very old, possibly
  susceptible to the BEAST attack, and doesn't have the best cipher suites
  available on it.</p>
  {{end}}

  {{if .EphemeralKeysSupported}}
  <p>Cool! Ephemeral keys are supported in the cipher suites your client
  supports. You've got protection from global passive observers (who really
  are out there now).!</p>

  {{else}}
  <p>Oh dear. Ephemeral keys are not supported in your client. Without them,
  global passive observers will be able to scoop up all of your encrypted traffic
  and decode it when their attacks or their computers are faster. This is
  actually happening.</p>
  {{end}}

  {{if .SessionTicketsSupported}}
  <p>Good! Session tickets are supported in your client. Services you use
  will be able to scale out their TLS connections much </p>

  {{else}}
  <p>Not so good. Session tickets are not supported in your client. Without them,
  it'll take your connections over TLS longer to work and its harder for
  services to scale out. Generally, clients with ephemeral key support gets
  this for free.</p>
  {{end}}

  {{if .TLSCompressionSupported}}
  <p>Uh oh. Your TLS client is using TLS compression. This is really not good. It
  makes your TLS connections susceptible to the CRIME attack and your
  encrypted data could be leaked!</p>

  {{else}}
  <p>Good. Your TLS client does not attempt TLS compression, avoiding
  information leaks from a CRIME attack.</p>
  {{end}}

  {{if .BEASTAttackVuln}}
  <p>Ick. Your client is probably open to the BEAST attack. It's using version
  TLS 1.0 or earlier while also supporting a cipher suite that uses CBC for
  its block cipher. That combination may leak information. Fixed in TLS 1.1
  and later.</p>
  {{end}}

  {{if .UnknownCipherSuiteSupported}}
  <p>Not good. Your client is using a cipher suite this app doesn't
  recognize. It's not in the standards and almost certainly not secure. Watch
  out.</p>
  {{end}}

  {{if len .InsecureCipherSuites}}
  <p>Oh boy, your client supports cipher suites that are known to be
  insecure:</p>

  <ul>
    {{range $cipherSuite, $reasons := .InsecureCipherSuites}}
    <li>{{$cipherSuite}}: This cipher {{sentence $reasons}}</li>
    {{end}}
  </ul>

  {{end}}
  <p>Cipher suites your client said it supports:</p>
  <ul>
    {{range .GivenCipherSuites}}
    <li>{{.}}</li>
    {{end}}
  </ul>
</body>
</html>
