version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15
    groups:
      otel:
        applies-to: version-updates
        patterns:
          - "go.opentelemetry.io/otel*"
          - "go.opentelemetry.io/contrib*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
