<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>How's My SSL?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/s/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .okay {
        color: green;
      }
      .improvable {
        color: yellow;
      }
      .bad {
        color: red;
      }
    </style>
    <link href="/s/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">How's My SSL?</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/s/about.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="hero-unit">
        <h1>Your SSL client is {{ratingSpan .Rating}}.</h1>
        <p>Check out the sections below for information about the SSL/TLS
          client you used to render this page.</p>
        <p><small>Yeah, we really mean <a href="/s/about.html#tls-vs-ssl">"TLS", not "SSL"</a>.</small></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Version</h2>
          {{if eq .TLSVersion "TLS 1.2"}}
          <p><span class="okay">Great!</span> Your client is using TLS 1.2, the most modern version of TLS.</p>
          {{else if eq .TLSVersion "TLS 1.1"}}
          <p><span class="improvable">Enh</span>, your client is using TLS 1.1. It would be better to be TLS 1.2, but
            at least it isn't susceptible to the BEAST attack. But, it also doesn't
            have the AES-GCM cipher suite available.</p>
          {{else}}
          <p><span class="bad">Oh dear</span>, your client is {{.TLSVersion}}, which is very old, possibly
            susceptible to the BEAST attack, and doesn't have the best cipher suites
            available on it.</p>
          {{end}}
        </div>
        <div class="span4">
          <h2>Ephemeral Key Support</h2>
          {{if .EphemeralKeysSupported}}
          <p><span class="okay">Cool!</span> Ephemeral keys are supported in
            the cipher suites your client supports. This dramatically
            increases your protection against snoopers, including global
            passive adversaries who scoop up large amounts of encrypted
            traffic, and store them until their attacks (or their computers)
            improve.</p>
          {{else}}
          <p><span class="improvable">Shoot.</span> Ephemeral keys are not supported
            in your client. Without them, global passive adversaries will be
            able to scoop up all of your encrypted traffic and decode it when
            their attacks or their computers are faster. This is actually
            happening.</p>
          {{end}}
        </div>
        <div class="span4">
          <h2>Session Tickets Support</h2>
          {{if .SessionTicketsSupported}}
          <p><span class="okay">Good!</span> Session tickets are supported in
            your client. Services you use will be able to scale out their TLS
            connections much easier with this feature.</p>
          {{else}}
          <p><span class="improvable">Not so good.</span> Session tickets are
            not supported in your client. Without them, it'll take your
            connections over TLS longer to work and its harder for services to
            scale out. Generally, clients with ephemeral key support gets this
            for free.</p>
          {{end}}
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h2>TLS Compression</h2>
          {{if .TLSCompressionSupported}}
          <p><span class="bad">Uh oh.</span> Your TLS client is using TLS
            compression. This is really not good. It makes your TLS
            connections susceptible to
            the <a href="http://en.wikipedia.org/wiki/CRIME_(security_exploit)">CRIME
            attack</a> and your encrypted data could be leaked!</p>
          {{else}}
          <p><span class="okay">Good.</span> Your TLS client does not attempt
            TLS compression, avoiding information leaks from the
            <a href="http://en.wikipedia.org/wiki/CRIME_(security_exploit)">CRIME
            attack</a>.</p>
          {{end}}
        </div>
        <div class="span4">
          <h2>BEAST Attack Vulnerability</h2>
          {{if .BEASTAttackVuln}}
          <p><span class="bad">Ick.</span> Your client is probably open to
            the <a href="http://en.wikipedia.org/wiki/Transport_Layer_Security#BEAST_attack">BEAST
            attack</a>. It's using version TLS 1.0 or earlier while also
            supporting a cipher suite that uses CBC for its block cipher. That
            combination may leak information. Fixed in TLS 1.1 and later.</p>
            {{else}}
          <p><span class="okay">Probably okay.</span> Your client is either
            not vulnerable to
            the <a href="http://en.wikipedia.org/wiki/Transport_Layer_Security#BEAST_attack">BEAST
            attack</a> at all, or it supports a newer version of TLS that
            isn't.</p>
          {{end}}
        </div>
        <div class="span4">
          <h2>Insecure Cipher Suites</h2>
          {{if len .InsecureCipherSuites}}
          <p><span class="bad">Oh boy.</span> Your client supports cipher
            suites that are known to be insecure:</p>
          <ul>
            {{range $cipherSuite, $reasons := .InsecureCipherSuites}}
            <li>{{$cipherSuite}}: This cipher {{sentence $reasons}}</li>
            {{end}}
          </ul>
          {{else}}
          <p><span class="okay">Nice.</span> Your client doesn't use any
          cipher suites that are known to be insecure.</p>
          {{end}}
        </div>
      </div>
      <div class="row">
        {{if .UnknownCipherSuiteSupported}}
        <div class="span4">
          <h2>Unknown Cipher Suites Supported</h2>
          <p><span class="bad">Not good.</span> Your client is using a cipher
            suite this app doesn't recognize. It's not in the standards and
            almost certainly not secure. Watch out.</p>
        </div>
        {{end}}
        <div class="span4">
          <h2>Given Cipher Suites</h2>
          <p>The cipher suites your client said it supports are:</p>
          <ul>
            {{range .GivenCipherSuites}}
            <li>{{.}}</li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
