name: Build and deploy
on:
  push:
    branches:
      - "test_*"
      - "test-*"
  pull_request:
  merge_group:

jobs:
  build:
    name: Build
    uses: ./.github/workflows/go.yml
  deploy:
    needs: build
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/test_deploy_') || startsWith(github.ref, 'refs/heads/test-deploy-')
    name: Deploy
    concurrency: production
    uses: ./.github/workflows/deploy.yml
