name: Update dev environment certificates
on:
  schedule:
    # Do this every 4 months. 3:01 AM on every 7th of the month was picked
    # arbitrarily (c.f. fine-structure constant)
    - cron: '1 3 7 */4 *'
  push:
    branches:
      - force_update_dev_certs
jobs:
  make_cert_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: .github/versions/go
      - run: go build -o ./gendevcerts/gendevcerts ./gendevcerts
      - run: ./gendevcerts/gendevcerts -d ./config
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m')"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v4.1.3
        with:
          commit-message: "four month update of dev env certificates"
          title: "four month update of dev environment certificates (for ${{ steps.date.outputs.date }})"
          branch: auto_update_dev_certs
          token: ${{ secrets.CREATE_PR_TOKEN }}